.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.filters {
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
.filterButton {
  background-color: #383838;
}
.active {
  border: 2px solid #fff;
}
